.movie-card {
  background-color: $brown;
  border: 3px solid transparent;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 25px;
  &:hover {
    border: 3px solid $darksilver;
  }
}

.fa-crown {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.favorite-false {
  color: $silver;
  &:hover {
    color: $gold;
  }
}

.favorite-true {
  color: $gold;
}

.movie-poster {
  width: 80%;
}