.banner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: url('./images/seats.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 389px;
    font-family: $audio-font;
    font-size: 34px;
    letter-spacing: 4px;
    font-weight: 600;
    color: #fff;
    height: 275px;
    text-align: center;
    padding-top: 10px;
    width: 100vw;
}

.golden-leaves {
    height: 290px;
    position: absolute;
}

.home-banner {
    text-decoration: none;
}

.App {
    display: flex;
    flex-flow: column;
    align-items: center;
}
